body {
  background-color:#F2F2F2;
}

.navbar {
  margin-bottom:50px;
}
.campaign-nav {
  padding-top:10px;
  margin-top:-50px;
  margin-bottom:50px;
}

.nav-tabs {
  border-bottom:none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #F2F2F2;
  border-color: #F2F2F2;
  cursor:pointer;
}

.nav-tabs > li > a:hover{
  border-color: white;
}

.content-header {
  margin-bottom:30px;
}
.content-header h3 {
  font-size:35px;
  color:#263745;
}

ul.nav-content {
  margin-top: 22px;
  margin-left:-42px;
}

.nav-content li {
  display: inline-block;
  padding:0 9px;
  font-size: 16px;
  font-weight:700;
}

.nav-content li a {
  color: #263745;
  text-decoration: none;
}

.nav-content li:not(:last-child) {
  border-right:1px solid #263745;
}
.nav-content li:first-child {
  padding-left:0;
}

.nav-content li a:hover, .nav-content li.active a {
  color: #39bcac;
}

.navbar-inverse {
  background-color: #86364E;
  border-color: #86364E;
  color:white;
}
.navbar-inverse .navbar-toggle {
  border-color:#86364E;
}
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand{
  color:white;
}
.nav-tabs > li {
  margin-bottom:-2px;
}
.nav-tabs > li > a {
  border: none;
  border-radius: 10px 10px 0 0;
  font-size:12px;
  color:#FFC52E;
  padding: 7px 15px;
  margin-right:15px;
}
.nav > li > a:hover, .nav > li > a:focus {
  color: #FFC52E;
  background-color: #652c3d;
}
.ramp {
  height: 10px;
  position: absolute;
  top: 25px;
}
.ramp-left {
  left: -10px;
}
.ramp-right {
  right:5px;
}

.alert-danger a {
  color:#a94442;
  text-decoration: underline;
}
.alert {
  border:none;
}

.table > thead > tr > th {
  border-bottom: 1px solid #ddd;
  font-weight:500;
}
.table > tbody > tr:first-child > td {
  border-top:0;
}

.campaign-back-link {
  margin:-10px 0 40px 0;
  font-size:14px;
  font-weight:600;
}
.campaign-back-link a {
  color:#bf3b49;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #FFC52E;
  background-color: #652c3d;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #652c3d;
}

.table-results {
  max-height:300px;
  overflow:hidden;
  padding-bottom:60px;
}
.poll-value {
  color: #bf3b49;
  font-weight: 900;
}
.number {
  font-family:'Typold';
  color: #652c3d;
  font-size:80px;
  font-weight:800;
}
.page-title {
  width: 100%;
  border-bottom: 1px solid #b7b7b7;
  line-height: 0.1em;
  margin: 20px 0 30px;
}
.page-title span {
  background: #f2f2f2;
  padding:0 10px 0 0 ;
  color: #b7b7b7;
  font-size:16px;
  font-weight:600;
}

.show-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 160px 0 30px 0;

  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, white);
  margin-bottom: -70px;
}

@media only screen and (max-width: 991px) {
  .campaign-nav {
    margin-bottom:20px;
  }
  .container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
    margin-top:10px;
  }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #86364e;
  }
}
